

<div class="container" style="background-color:#d1d1e0;border: #666699;border-radius: 25px;border-style:solid">
  <div class="row" style="padding:10px;">
    <h1 class="display-4">Composant</h1>
      <app-professeur></app-professeur>
  </div>
</div>

<button type="button" class="btn btn-primary">Pause</button>

<hr width="100%" color="blue">
<h1>Troisième TP</h1>

<div class="container" style="background-color:#d1d1e0;border: #666699;border-radius: 25px;border-style:solid">
  <h1 class="display-4">SoftMeteo</h1>
  <div class="row" style="padding:10px;">
      <app-ville  (sendMeteoParent)="ChangeMeteo($event)"></app-ville>
  </div>
  <div class="row" style="padding:10px;">
      <app-meteo maMeteo={{meteo}}></app-meteo>  
  </div> 
</div>

<hr width="100%" color="blue">
<h1>Quatrieme TP</h1>

<div [style.backgroundColor]="bgColor">
      <h1 class='display-2'>Personne</h1>
</div>

<button class="btn btn-danger" (click)="changeColor()">Changer couleur</button>

<hr width="100%" color="blue">
<h1>Cinquième Exo</h1>


<input [(ngModel)]="writevar"
        type="text"
        class="form-control"
        >
<div>
  Saisir du text : {{ writevar}}
</div>





